/*************************************************************************
*
* Ici se trouve le style général de l'App, il est chargé dans index.js
*
**************************************************************************/

/* Suppression de la marge (int/ext) par défault de tous les élèments + style général*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main disposition */
.main {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Font */
body {
  font-family: var(--font-family-text);
  background-color: var(--color_whitesmoke);
  color: var(--color_brown);
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}
small {
  font-size: small;
}
em {
  color: var(--color_blue);
  font-style: normal;
  font-weight: 500;
}

.butonNav {
  background-color: var(--color_blue);
  color: var(--color_whitesmoke);
  border-radius: 15px;
  padding: 0.8vh 0.8vw;
  text-decoration: none;
}
.butonNav:hover {
  opacity: 0.7;
}

/* ----------- Responsive ----------- */
/* Smartphones */
@media (max-width: 480px) {
  .flex-row {
    flex-direction: column;
  }
}
