.cbs-banner {
    color: var(--color_whitesmoke);
	text-align: right;
	font-size: 2em;
	background: linear-gradient(90deg,rgba(66, 45, 37, 0.75) 0%, var(--color_brown) 100%);
}
.logo_title {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	color: var(--color_blue);
}
img {
    height: 30vh;
}
h1 {
    font-size: 3.5em;
}
.slogan-periode {
	padding: 0 0.7vw 0.7vh 0;
	font-weight: 100;
}
